.links {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
  height: 50%;
  background: #fff;
  color: #fff;
  font-size: 14px;
  transition: .3s ease;
}

.links-content {
  padding: 34px;
  padding-top: 60px;
  opacity: 0;
}

.loaded .links-content {
  -webkit-animation: showContent 400ms 900ms ease-in-out forwards;
  animation: showContent 400ms 900ms ease-in-out forwards;
}

@-webkit-keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@media (max-width: 768px) {
  .links {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    bottom: inherit;
    right: inherit;
    min-width: inherit;
    font-size: 1em;
  }
  .links-content {
    padding: 30px;
    padding-bottom: 100px;
    height: auto;
  }
}

@media (max-device-width: 768px) and (orientation: portrait)  {
  .links {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .links {
    position: relative;
    bottom: inherit;
  }
  .links-content {
    padding-bottom: 30px;
    font-size: 14px;
  }
}

