.summary {
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  height: 50%;
  background-color: #fff;
  transition: .3s ease;
}

.summary p {
  font-size: 1.667em;
  line-height: 1.46em;
  font-weight: 200;
  margin: 0;
  padding: 34px;
  opacity: 0;
}

.loaded p {
  -webkit-animation: showContent 400ms 900ms ease-in-out forwards;
  animation: showContent 400ms 900ms ease-in-out forwards;
}

@-webkit-keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes showContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 1200px) {
  .summary p {
    font-size: 1.467em;
    line-height: 1.4em;
  }
}

@media (max-width: 920px) {
  .summary p {
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

@media (max-width: 760px) {
  .summary p {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .summary {
    width: 100%;
    display: block;
    position: relative;
    height: 50%;
  }
  .summary p {
    max-width: 100%;
    padding: 30px;
    font-size: 30px;
    line-height: 45px;
  }
}

@media (max-width: 600px) {
  .summary {
    height: auto;
  }

  .summary p {
    font-size: 19px;
    line-height: 25px;
  }
}